*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #242635;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
/* ==== HEADER ==== */
.header {
    padding: 25px 0;
}
.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 115px;
}
.logo {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #242635;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
}
.nav-links a {
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 22.4px;
    color: #242635;
}
/* ==== HAMBURGER MENU ==== */
.topnav {
    background-color: #deb887;
    overflow: hidden;
    display: none;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.active {
    background-color: gray;
    color: white;
}
.topnav .icon {
    display: none;
}
/* ==== MAIN SECTION ==== */
.main-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
}
.text {
    max-width: 400px;
    margin-top: 100px;
    flex: 1;
}
.main-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.main-container p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    margin-top: 46px;
}
.image-container {
    flex: 1;
    align-self: flex-start;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -55px;
}
